.card1{
    line-height: 0.3;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    
h1{
    color:#BD6C45 ;
    padding-top: 10px;
    padding-left: 20px;
}
h4{
    padding-left: 20px;
    line-height: 1.2;
    padding-right: 20px;
}
img{
    width: 100%;
    padding-top: 10px;
}
p{
    line-height: 1.4;
    padding: 0 20px;
    font-size: 12px;
}
}
.links{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
}
.card2{
    line-height: 0.3;
    background-color: #F5F7FA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
h1{
    color: #4CAF4F;
    padding-top: 10px;
    padding-left: 20px;
}
h4{
    padding-left: 20px;
    line-height: 1.2;
    padding-right: 20px;
}
img{
    width: 100%;
    padding-top: 10px;
}
p{
    line-height: 1.4;
    padding: 0 20px;
    font-size: 12px;
}
}
.card3{
    line-height: 0.3;
    background-color: #F5F7FA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
h1{
    color: #2B3743;
    padding-top: 21px;
    padding-left: 20px;
}
h4{
    padding-left: 20px;
    line-height: 1.2;
    padding-right: 20px;
}
img{
    width: 100%;
}
p{
    line-height: 1.4;
    padding: 0 20px;
    font-size: 12px;
}
}
@media (max-width: 800px) {
    .card1{
        line-height: 0.3;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    
    h1{
        color:#BD6C45 ;
        padding-top: 10px;
        padding-left: 20px;
        font-size: 24px;
    }
    h4{
        padding-left: 20px;
        line-height: 1.2;
        padding-right: 20px;
        font-size: 16px;
    }
    img{
        width: 100%;
        padding-top: 10px;
    }
    p{
        line-height: 1.4;
        padding: 0 20px;
        font-size: 10px;
    }
    }
    .links{
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 2px;
    }
    .card2{
        line-height: 0.3;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    
    h1{
        color:#BD6C45 ;
        padding-top: 10px;
        padding-left: 20px;
        font-size: 24px;
    }
    h4{
        padding-left: 20px;
        line-height: 1.2;
        padding-right: 20px;
        font-size: 16px;
    }
    img{
        width: 100%;
        padding-top: 10px;
    }
    p{
        line-height: 1.4;
        padding: 0 20px;
        font-size: 10px;
    }
    }
    .card3{
        line-height: 0.3;
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;    
    h1{
        color:#BD6C45 ;
        padding-top: 10px;
        padding-left: 20px;
        font-size: 24px;
    }
    h4{
        padding-left: 20px;
        line-height: 1.2;
        padding-right: 20px;
        font-size: 16px;
    }
    img{
        width: 100%;
        padding-top: 10px;
    }
    p{
        line-height: 1.4;
        padding: 0 20px;
        font-size: 10px;
    }
    }
}