.techcontainer{
    margin-top: 120px;
h1{
    text-align: center;
    color:  #8946d5;
}
}
.techicon{
   margin: 50px 170px;

img{
    width: 70px;
    margin-right: 30px;
  
}
}
@media (max-width: 800px) {
    .techcontainer{
        margin-top: 50px;
        h1{
            text-align: center;
            color:  #8946d5;
            font-size: 24px;
        }
        }
        .techicon{
           margin: 20px 20px;
           text-align: center;
        img{
            width: 35px;
        }
        }
}